{% extends "layout.html" %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#riego_v').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/riego_v',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
    $('a#riego_f').on('click', function(e) {
      e.preventDefault()
      $.getJSON('/riego_f',
          function(data) {
        //do nothing
      });
      return false;
    });
  });
</script>

<center>
  <h1>Welcome to SeedBot</h1>
  <img class="rounded img-fluid" src="{{ url_for('video_feed') }}">
  <div class="container mt-4">
    <div class="row row-cols-3">
      <div class="col fs-3 fw-bold">
        Riego
      </div>
      <div class="col fs-3 fw-bold">
        Siembra
      </div>
      <div class="col fs-3 fw-bold">
        Preparar Tierra
      </div>
      <div class="col">
        <a class="btn btn-primary" href=# id=riego_v role="button">On</a>
        <a class="btn btn-primary" href="#" id=riego_f role="button">Off</a>
      </div>
      <div class="col">
        <a class="btn btn-primary" href="#" role="button">On</a>
        <a class="btn btn-primary" href="#" role="button">Off</a>
      </div>
      <div class="col">
        <a class="btn btn-primary" href="#" role="button">On</a>
        <a class="btn btn-primary" href="#" role="button">Off</a>
      </div>
    </div>
  </div>
</center>
{% endblock content %}